/* ========================================================= Element Style ===*/
body {
	color: #444;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	text-rendering: optimizeLegibility;
}
/* ========================================================= Typography ===*/
a, a:visited {
	color: #0069d6;
	text-decoration: none;
	line-height: inherit;
	font-weight: inherit;
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	transition:all .2s ease-out;
}
a:hover {
  color: #0050a3;
  text-decoration: underline;
}
p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
}
p small {
  font-size: 11px;
  color: #bfbfbf;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  color: #404040;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
  color: #bfbfbf;
}
h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 14px;
}
h3,h4,h5,h6 {
  line-height: 36px;
}
h3 {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4 {
  font-size: 16px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
  color: #bfbfbf;
  text-transform: uppercase;
}
ul, ol {
  margin: 0 0 18px 25px;
}
ul ul,ul ol,ol ol,ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
  color: #444;
}
ul.unstyled {
  list-style: none;
  margin-left: 0;
}
dl {
  margin-bottom: 18px;
}
dl dt, dl dd {
  line-height: 18px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 9px;
}

strong {
  font-style: inherit;
  font-weight: bold;
  line-height: inherit;
}
em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit;
}

p{
	font-family: Lato;
	font-weight: 400;
	font-size: 14px;
	margin: 0 0 20px;
	-webkit-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
}
h1 {
	
	font-size: 24px;
}
h1 img{
	vertical-align: text-top;
	float: left;
	width: 150px; height: 41px;
}
h1 span{
	color: #333;
	font-family: Lato;
	font-size: 25px;
	font-weight: 700;
	margin: 4px 0 0 10px;
	display: inline-block;
	text-transform: uppercase;
}
h2 {
	color: #333;
	font-size: 31px;
	margin: 0 0 10px;
	font-family: Lato;
	font-weight: 700;
	-webkit-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
}
h3 {
	color: #444b51;
	font-size: 20px;
	font-family: Lato;
	font-weight: 700;
	margin: 0 0 5px;
	-webkit-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}


a{
	color:#55A4B7;
}
a:visited{
	color:#55A4B7;
}
a:active{
	color:#55A4B7;
}
a:hover{
	color:#55A4B7;
	text-decoration: none;
}
li{
	font-family: Lato;
	font-weight: 400;
	text-shadow: 0 1px 0 #fff;
}

hr{
	margin: 0;
}