#contact-form{
	border-right: 1px solid #ccc;
	box-shadow: 1px 0 0 rgba(255,255,255,0.9);
	float: left;
	color:#333;
	margin: 0 20px 0 0;
	padding: 0 20px 0 0;
	width: 474px; min-height: 170px;
}
#contact-form ul{
	margin: 0;
	padding: 0;
}
#contact-form li{
	list-style: none;
	margin: 0;
	padding: 0;
}
#contact-form fieldset{
	margin:0 0 20px;
	padding:0;
	
}
#contact-form fieldset label {
	color:#333;
	display:block;
	font-size:13px;
	float:left;
	padding:3px 5px 0 0;
	text-align:right;
	width:62px;
}
#contact-form fieldset input {
	border:1px solid #DEDEDE;
	border-radius: 4px;
	color:#333;
	font-size:13px;
	height:17px;
	margin-bottom:13px;
	padding:3px 0 3px 5px;
	vertical-align:baseline;
	width:390px;
}
#contact-form fieldset textarea{
	border:1px solid #DEDEDE;
	border-radius: 4px;
	color:#333;
	font-size:13px;
	height:90px;
	margin-bottom:13px;
	padding:3px 0 0 5px;
	vertical-align:baseline;
	width:390px;
}
#contact-form fieldset select{
	border:1px solid #DEDEDE;
	color:#333;
	font-size:13px;
	margin-bottom:13px;
	padding:2px 2px 2px 5px;
	vertical-align:baseline;
}
#contact-form hr {
    border: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #fff;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.9);
    clear: both;
    height: 0;
	filter: alpha(opacity = 30);
    margin: 5px 0 15px 0;
}
.required{
	color: #ff0000;
}
#contact-form .button{
	float: right;
	margin: 0 10px 0 0;
}
.error_message {
	display: block;
	height: 22px;
	line-height: 22px;
	background: #FBE3E4 url('../img/error.gif') no-repeat 10px center;
	padding: 3px 10px 3px 35px;
	margin: 10px 0;
	color:#8a1f11;
	border: 1px solid #FBC2C4;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
}