html,body {
	background-color: #e6e6e6;
	background-image: url(../img/bg.png);
	background-repeat: repeat;
	display: block;
}
/* ========================================================= Typography ===*/
a{
	color:#55A4B7;
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	transition:all .2s ease-out;
}
a:hover {
	color:#55A4B7;
	text-decoration: underline;
}
p{
	font-family: 'Lato';
	font-weight: 400;
	font-size: 14px;
	margin: 0 0 20px;
	-webkit-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
}
h1 {
	font-size: 24px;
}
h1 a:hover{
	text-decoration: none;
}
h1 img{
	vertical-align: text-top;
	float: left;
	width: 150px; height: 41px;
}
h1 span{
	color: #333;
	font-family: 'Lato';
	font-size: 25px;
	font-weight: 700;
	margin: 9px 0 0 10px;
	display: inline-block;
	text-transform: uppercase;
}
h2 {
	color: #333;
	font-size: 31px;
	margin: 0 0 10px;
	font-family: 'Lato';
	font-weight: 700;
	-webkit-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
}
h3 {
	color: #444b51;
	font-size: 20px;
	font-family: 'Lato';
	font-weight: 700;
	margin: 0 0 5px;
	-webkit-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
}
li{
	font-family: 'Lato';
	font-weight: 400;
	text-shadow: 0 1px 0 #fff;
}
/* ========================================================= Header ===*/
header{
	background: none;
	border: none;
}
#logo a{
	color: #000;
}
/* -----------
 -- nav --
----------- */
nav{
	padding: 10px 0;
}
#app nav{
	background-color: #fff;
	background-color: rgba(255,255,255,0.4);
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
nav h1{
	color: #000;
	float: left;
	margin: 0 auto;
	-webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	-moz-text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);	
}
nav ul{
	float: right;
	font-size: 15px;
	margin: 12px auto 0;
	padding: 0;
	-webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	-moz-text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
nav li{
	display: inline;
	margin: 0 0 0 10px;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
}
nav a, nav a:visited{
	color: #333;
}
nav a:hover{
	color: #000;
	text-decoration: none;
}
/* ========================================================= Page ===*/
.page{
	background-color: #fafafa;
	border-radius: 10px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.3), 0 0 0 1px #fff inset;
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.3), 0 0 0 1px #fff inset;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3), 0 0 0 1px #fff inset;
	position: relative;
	z-index: 3;
}
#app .page{
	margin: -40px 0 0 0;
}
/* ========================================================= Home ===*/
#home img{
	display: block;
	margin: 0 auto;
	max-width: 100%; height: auto;
}
#home .copy{
	margin-top:  70px;
}
#home .button{
	display: inline-block;
	margin: 0 0 20px;
}
/* ========================================================= Apps ===*/
#app header{
	background-color: #000;
	background-position: bottom center;
	background-repeat: no-repeat;
	border-bottom: 1px solid #fff;
	display: block;
	-webkit-box-shadow: 0 10px 10px rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 0 10px 10px rgba(255, 255, 255, 0.8);
	box-shadow: 0 10px 10px rgba(255, 255, 255, 0.8);
	max-height:465px;
}
#teaser{
	display: block;
	margin: 0 auto;
	max-width: 100%; height: auto;
}
#fb img{
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	max-width: 100%; height: auto;
}
#home #feat a:hover .button{
	background-color: #44b2cd;
}
#app #features .two_third, #app #features .one_third{
		margin: 40px 10px;
	}
.button{
	background-color: #55a4b7;
	border: none;
	border-radius: 4px;
	color: #fff !important;
	font-size: 16px;
	outline: none;
	padding: 5px 10px;
	text-decoration: none;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
}
.button:hover{
	background-color: #44b2cd;
}
/* ========================================================= Napa Valley ===*/
.napa header{
	background-image: url("../img/napavalley/header.jpg");
}
.napa #price{
	display: block;
	float: left;
	margin: 34px 0 0 70px;
	width: 189px;
}
.napa #appstore{
	float: left;
	margin: 0 0 10px;
}
.napa #price span{
	margin: 0 0 0 43px;
}
#app #plane{
	max-width: 100%; height: auto;
}
#app #last-buy{
	display: block;
	float: none;
	margin: 0 auto 10px;
	width: 189px;
}
#app #last-buy p{
	margin: 0 0 0 5px;
}
#app .content:last-child{
	padding-bottom: 0;
}
#press-icon, #badge-ribbon{
	margin: 10px 0 0 22px;
}
#press-icon{
	margin: 10px 0 0 22px;
}


.napa #price{
	margin: 85px 0 0 15px;
	float: left;
}
#app #last-buy{
	float: left;
	margin: 5px 0 0 122px;
}


#home .copy{
	margin-top:  136px;
}

.napa #price{
	margin: 43px 0 0 68px;
}

.napa #vert-hr{
	border-right: 1px solid #ccc;
	box-shadow: 1px 0 0 #fff;
	height: 248px;
	float: left;
	margin: -30px 0 -30px -13px;
}
.napa #badge-ribbon{
	margin: -31px 0 0 34px;
}
#badge img{
	margin:0 35px 0 145px;
}
#app #plane{
	margin: -37px 0 0 -4px;
}
#app #last-buy{
	margin: 2px 0 0 67px;
	width: 395px;
}
#app #last-buy img{
	float: left;
}
#app #last-buy p{
	margin: 20px 0 0 20px;
	float: left;
}
.vintagechart #price{
	margin: 60px 0 0 7px;
	width: 305px;
}
.vintagechart  #appstore{
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 132px;
}
.vintagechart #html5{
	float: left;
	margin-bottom: 10px;
	width: 132px;
}
.vintagechart #price #first-price{
	display: none;
	margin: 0;
}
.vintagechart  #price span{
	margin: 0 0 0 78px;
}
/* -----------
 -- Badge --
----------- */
#badge textarea{
	border-radius: 4px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-family: 'Lato';
	font-weight: 400;
	line-height: 1.2;
	margin: 12px 0 0;
	padding: 10px;
	resize: none;
	width: 216px; height: 276px;
}
#badge-ribbon{
		display: block;
		margin: -31px 0 0 11px;
	}
	
	#badge img{
		float: left;

	}
	#badge textarea{
		width: 360px; height: 160px;
	}
/* ========================================================= Vintage Chart ===*/
.vintagechart header{
	background-image: url("../img/vintagechart/header.png");
}
.vintagechart #price{
	display: block;
	float: none;
	margin: 0 auto;
	width: 289px;
}
.vintagechart #price{
	margin: 64px 0 0 25px;
	float: left;
}
.vintagechart  #appstore{
	float: left;
	margin-bottom: 10px;
}
.vintagechart #html5{
	float: left;
	margin-bottom: 10px;
}
#first-price{
	margin-bottom: 10px;
}
.vintagechart  #price span{
	display: block;
	margin: 0 0 10px 64px;
}
/* -----------
 -- quotes --
----------- */
blockquote{
	border: none;
	margin: 0;
	padding: 0;
}
#quotes{
	margin: 0;
	padding: 70px 40px 50px;
}
#quotes .one_third{
	color: #666;
	display: block;
	font-size: 15px;
	position: relative;
	width: 288px;
}
#quotes p{
	margin: 0;
}
.bqstart {
    color: #ccc;
    float: left;
    font-family: Arial;
    font-size: 97px;
    height: 45px;
    margin:-56px 0 -9px;
    padding-top: 35px;
    -webkit-text-shadow: 0 1px 0 #FFFFFF;
    -moz-text-shadow: 0 1px 0 #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
}
.bqend {
	color: #ccc;
	display: none;
    float: right;
    font-family: Arial;
    font-size: 97px;
    height: 25px;
    margin:-15px 0 0 0;
    padding-top: 0;
    -webkit-text-shadow: 0 1px 0 #fff;
    -moz-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
}
.quote-author{
	float: right;
    font-style: italic;
    font-weight: 700;
    margin: 10px 0 0;
}
/* ========================================================= About ===*/
/* ========================================================= Contact ===*/
#contact-form{
	border-right: 1px solid #ccc;
	box-shadow: 1px 0 0 rgba(255,255,255,0.9);
	color:#333;
	float: left;
	padding: 0 30px 0 0;
	min-height: 170px;
}
#contact-form label{
	width: 58px;
}
input[type="text"], input[type="password"], input[type="search"], input[type="email"], textarea, select, .uneditable-input {
	width: 486px;
}
#contact-form .button{
	float: right;
}
#contact-social{
	float: left;
	margin: 0 0 0 10px;
	width: 200px;
}
#social-links{
	margin: 0;
	padding: 0;
}
#social-links li{
	list-style: none;
	margin: 0 0 30px;
	width: 228px;
}
#social-links li img{
	vertical-align: top;
}
#social-links li p{
	display: inline-block;
	margin: 0 0 0 10px;
	line-height: 1.0;
}
/* ========================================================= 404 ===*/
#error404{
	margin: -123px 0 0 279px;
	max-width: 100%; height: auto;
}
/* ========================================================= Footer ===*/
footer{
	padding: 10px 20px
}
footer p{
	color: #999;
	font-size: 12px;
	margin: 0;
}
/* ========================================================= Utlities ===*/
hr{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	margin: 0;
}
/* ========================================================= Structure ===*/
/* ---------
 -- 280px --
--------- */
@media screen and (min-width: 280px){

}
/* ---------
 -- 480px --
--------- */
@media screen and (min-width: 480px){

}
/* ---------
 -- 768px --
--------- */
@media screen and (min-width: 768px){

}
/* ----------
 -- 1280px --
---------- */
@media screen and (min-width: 1280px){
	.container {width: 1004px;}
	.one_full {max-width: 924px;}
	.three_quarter {max-width: 688px;}
	.two_third {max-width: 610px;}
	.one_half {max-width: 452px;}
	.two_fifth {max-width: 360px;}
	.one_third {max-width: 294px;}
	.one_quarter {max-width: 216px;}
	.one_fifth {max-width: 168px;}
	.four_fifth {max-width: 736px;}
}