html {
  overflow-y: scroll;
}
body,
html {
  background-color: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html,
body {
  height: 100%;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #ffffa9;
  color: #54545e;
  text-shadow: none;
}
::selection {
  background: #ffffa9;
  color: #54545e;
  text-shadow: none;
}
a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
a:hover {
  color: #0050a3;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
}
/* ========================================================= Variables ===*/
/* ========================================================= Global ===*/
/* ---------
 -- Links --
--------- */
/* ========================================================= G12 Omega ===*/
.container {
  margin: 0 auto;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.g1,
.g2,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.g9,
.g10,
.g11,
.g12,
.gc,
.gs,
.al {
  float: left;
  margin: 10px;
  width: 100%;
}
.al {
  height: 90px;
}
/* ----------
 -- 1068px --
---------- */
.container {
  width: 1068px;
}
.gc {
  max-width: 728px;
}
.gs {
  max-width: 300px;
}
.g1 {
  max-width: 69px;
}
.g2 {
  max-width: 158px;
}
.g3 {
  max-width: 247px;
}
.g4 {
  max-width: 336px;
}
.g5 {
  max-width: 425px;
}
.g6 {
  max-width: 514px;
}
.g7 {
  max-width: 603px;
}
.g8 {
  max-width: 692px;
}
.g9 {
  max-width: 781px;
}
.g10 {
  max-width: 870px;
}
.g11 {
  max-width: 959px;
}
.g12 {
  max-width: 1048px;
}
.al {
  max-width: 728px;
}
.al a {
  display: none;
}
/* ----------
 -- 960px --
---------- */
@media screen and (min-width: 1024px) and (max-width: 1068px) {
  .container {
    width: 960px;
  }
  .gc {
    max-width: 620px;
  }
  .gs {
    max-width: 300px;
  }
  .g1 {
    max-width: 60px;
  }
  .g2 {
    max-width: 140px;
  }
  .g3 {
    max-width: 220px;
  }
  .g4 {
    max-width: 300px;
  }
  .g5 {
    max-width: 380px;
  }
  .g6 {
    max-width: 460px;
  }
  .g7 {
    max-width: 540px;
  }
  .g8 {
    max-width: 620px;
  }
  .g9 {
    max-width: 700px;
  }
  .g10 {
    max-width: 780px;
  }
  .g11 {
    max-width: 860px;
  }
  .g12 {
    max-width: 940px;
  }
  .al {
    max-width: 940px;
  }
  .al a {
    display: inline-block;
    float: right;
  }
  .al small {
    display: none;
  }
}
/* ---------
 -- 768px --
--------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 768px;
  }
  .gc {
    max-width: 428px;
  }
  .gs {
    max-width: 300px;
  }
  .g1 {
    max-width: 44px;
  }
  .g2 {
    max-width: 108px;
  }
  .g3 {
    max-width: 172px;
  }
  .g4 {
    max-width: 236px;
  }
  .g5 {
    max-width: 300px;
  }
  .g6 {
    max-width: 364px;
  }
  .g7 {
    max-width: 428px;
  }
  .g8 {
    max-width: 492px;
  }
  .g9 {
    max-width: 556px;
  }
  .g10 {
    max-width: 620px;
  }
  .g11 {
    max-width: 684px;
  }
  .g12 {
    max-width: 748px;
  }
  .al {
    max-width: 748px;
  }
  .al a {
    display: inline-block;
    float: right;
  }
  .al span {
    display: none;
  }
}
/* ---------
 -- 480px --
--------- */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
  .gc {
    max-width: 460px;
  }
  .gs {
    max-width: 460px;
  }
  .g1 {
    max-width: 60px;
  }
  .g2 {
    max-width: 100px;
  }
  .g3 {
    max-width: 220px;
  }
  .g4 {
    max-width: 460px;
  }
  .g5 {
    max-width: 460px;
  }
  .g6 {
    max-width: 460px;
  }
  .g7 {
    max-width: 460px;
  }
  .g8 {
    max-width: 460px;
  }
  .g9 {
    max-width: 460px;
  }
  .g10 {
    max-width: 460px;
  }
  .g11 {
    max-width: 460px;
  }
  .g12 {
    max-width: 460px;
  }
  .al {
    display: none;
  }
}
/* ---------
 -- 320px --
--------- */
@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 320px;
  }
  .gc {
    max-width: 300px;
  }
  .gs {
    max-width: 300px;
  }
  .g1 {
    max-width: 44px;
  }
  .g2 {
    max-width: 86px;
  }
  .g3 {
    max-width: 140px;
  }
  .g4 {
    max-width: 300px;
  }
  .g5 {
    max-width: 300px;
  }
  .g6 {
    max-width: 300px;
  }
  .g7 {
    max-width: 300px;
  }
  .g8 {
    max-width: 300px;
  }
  .g9 {
    max-width: 300px;
  }
  .g10 {
    max-width: 300px;
  }
  .g11 {
    max-width: 300px;
  }
  .g12 {
    max-width: 300px;
  }
  .al {
    display: none;
  }
}
/* ========================================================= Forms ===*/
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
input[type=date],
input[type=email],
input[type=password],
input[type=search],
input[type=text],
select,
textarea,
.uneditable-input {
  border: 1px solid #b9b9b9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #808080;
  display: inline-block;
  font-size: 13px;
  height: 18px;
  line-height: 1.2;
  margin-bottom: 13px;
  padding: 4px;
  width: 270px;
  vertical-align: baseline;
}
form {
  margin: 0;
  margin-bottom: 18px;
}
form ul {
  margin: 0;
  padding: 0;
}
form li {
  list-style: none;
  margin: 0;
  padding: 0;
}
form li:after {
  clear: both;
}
form li:before,
form li:after {
  content: "";
  display: table;
}
fieldset {
  border: 0;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-top: 18px;
}
fieldset legend {
  border: 0;
  color: #404040;
  display: block;
  font-size: 20px;
  line-height: 1;
  *margin-left: -7px;
  padding: 0;
}
textarea {
  height: auto;
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
label,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
label {
  color: #404040;
  display: block;
  padding: 6px 15px 0 0;
  font-size: 13px;
  line-height: 1.2;
  float: left;
  text-align: right;
  width: 145px;
}
div.input {
  margin-left: 160px;
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}
select,
input[type=file] {
  height: 27px;
  line-height: 27px;
  width: 280px;
}
.uneditable-input {
  background-color: #f5f5f5;
  border-color: #dddddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  color: #b9b9b9;
  font-style: italic;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}
input[type=text],
input[type=password],
input[type=email],
select,
textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: none;
}
form div.error {
  background: #fae5e3;
  padding: 10px 0;
  margin: -10px 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form div.error > label,
form div.error span.help-inline,
form div.error span.help-block {
  color: #9d261d;
}
form div.error input[type=text],
form div.error input[type=password],
form div.error textarea {
  border-color: #c87872;
  -webkit-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
  -moz-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
  box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
}
form div.error input[type=text]:focus,
form div.error input[type=password]:focus,
form div.error textarea:focus {
  border-color: #b9554d;
  -webkit-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
  -moz-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
  box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
}
form div.error .input-prepend span.add-on,
form div.error .input-append span.add-on {
  background: #f4c8c5;
  border-color: #c87872;
  color: #b9554d;
}
input[readonly]:focus,
textarea[readonly]:focus,
input.disabled {
  background: #f5f5f5;
  border-color: #ddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.actions {
  background: #f5f5f5;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 17px 20px 18px 150px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.help-inline,
.help-block {
  font-size: 12px;
  line-height: 1.5;
  color: #bfbfbf;
}
.help-inline {
  padding-left: 5px;
  *position: relative;
  *top: -5px;
}
.help-block {
  display: block;
  max-width: 600px;
}
.inline-inputs {
  color: #808080;
}
.inline-inputs span,
.inline-inputs input[type=text] {
  display: inline-block;
}
.inline-inputs input.mini {
  width: 60px;
}
.inline-inputs input.small {
  width: 90px;
}
.inline-inputs span {
  padding: 0 2px 0 1px;
}
.input-prepend input[type=text],
.input-append input[type=text],
.input-prepend input[type=password],
.input-append input[type=password] {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend .add-on,
.input-append .add-on {
  background: #f5f5f5;
  float: left;
  display: block;
  width: auto;
  min-width: 16px;
  padding: 3px 6px 5px 4px;
  color: #bfbfbf;
  font-weight: normal;
  line-height: 18px;
  height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #ccc;
  border-right-width: 0;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend .active,
.input-append .active {
  background: #a9dba9;
  border-color: #46a546;
}
.input-prepend .add-on {
  *margin-top: 1px;
  /* IE6-7 */

}
.input-append input[type=text],
.input-append input[type=password] {
  float: left;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append .add-on {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  border-right-width: 1px;
  border-left-width: 0;
}
.inputs-list {
  margin: 0 0 5px;
  padding: 0;
  width: 100%;
}
.inputs-list li {
  display: block;
  padding: 0;
  width: 100%;
}
.inputs-list li label {
  display: block;
  float: none;
  width: auto;
  padding: 0;
  line-height: 1.4;
  text-align: left;
  white-space: normal;
}
.inputs-list li label strong {
  color: #808080;
}
.inputs-list li label small {
  font-size: 12px;
  font-weight: normal;
}
.inputs-list li ul.inputs-list {
  margin-left: 25px;
  margin-bottom: 10px;
  padding-top: 0;
}
.inputs-list li:first-child {
  padding-top: 5px;
}
.inputs-list input[type=radio],
.inputs-list input[type=checkbox] {
  margin-bottom: 0;
}
/* -----------
 -- Stacked --
----------- */
.form-stacked fieldset {
  padding-top: 9px;
}
.form-stacked label {
  display: block;
  float: none;
  width: auto;
  font-weight: bold;
  text-align: left;
  line-height: 1.6;
  padding-top: 0;
}
.form-stacked input[type=date],
.form-stacked input[type=email],
.form-stacked input[type=password],
.form-stacked input[type=search],
.form-stacked input[type=text],
.form-stacked select,
.form-stacked .uneditable-input {
  height: 28px;
}
.form-stacked input[type=date],
.form-stacked input[type=email],
.form-stacked input[type=password],
.form-stacked input[type=search],
.form-stacked input[type=text],
.form-stacked select,
.form-stacked textarea,
.form-stacked .uneditable-input {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  width: 100%;
}
.form-stacked div.input {
  margin: 0;
  padding: 0 0 0 27px;
}
.form-stacked .input-prepend {
  position: relative;
  width: 100%;
}
.form-stacked .input-prepend .add-on {
  position: absolute;
  left: -27px;
  width: 16px;
  height: 18px;
}
.form-stacked .input-prepend input {
  width: 100%;
  right: 0;
}
.form-stacked .clearfix {
  margin-bottom: 9px;
}
.form-stacked .clearfix div.input {
  margin-left: 0;
}
.form-stacked .inputs-list {
  margin-bottom: 0;
}
.form-stacked .inputs-list li {
  padding-top: 0;
}
.form-stacked .inputs-list li label {
  font-weight: normal;
  padding-top: 0;
}
.form-stacked div.error {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-left: -10px;
}
.form-stacked .actions {
  margin-left: -20px;
  padding-left: 20px;
}
/* ========================================================= Search ===*/
#search-form {
  margin: 10px 0 20px;
}
#search-form .search-wrap {
  padding: 0;
  width: 100%;
  height: 28px;
}
#search-form .search-input {
  position: relative;
}
#search-form input[type="search"] {
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 0px;
  left: 0;
  line-height: .9;
  padding: 4px 0 4px 8px;
  position: relative;
  width: 84%;
  z-index: 15;
}
#search-form input[type="submit"] {
  -webkit-appearance: none;
  background-image: url("https://s3.amazonaws.com/core.mshanken.com/img/search-flat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(198, 198, 198, 0.6);
  border: 1px solid rgba(198, 198, 198, 0.6);
  vertical-align: top;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 11%;
  height: 28px;
  margin-left: 2%;
}
#search-form input[type="submit"]:active {
  box-shadow: 0 1px 0 rgba(140, 140, 140, 0.1) inset, 1px 0 0 rgba(140, 140, 140, 0.1) inset, -1px 0 0 rgba(140, 140, 140, 0.1) inset, 0 -1px 0 rgba(140, 140, 140, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.1) inset;
}
#search-form input[type="submit"]:hover {
  background-color: rgba(198, 198, 198, 0.8);
}
/* ----------
 -- Inline --
---------- */
#search-form-inline {
  margin: 10px 0 20px;
}
#search-form-inline .search-wrap {
  background-color: #fff;
  padding: 0 39px 0 0;
}
#search-form-inline .search-input {
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  position: relative;
  width: 100%;
  height: 26px;
}
#search-form-inline input[type="search"] {
  -webkit-appearance: none;
  border: none;
  left: 0;
  line-height: 15px;
  padding: 4px 0 4px 8px;
  position: relative;
  width: 100%;
  z-index: 15;
}
#search-form-inline input[type="submit"] {
  -webkit-appearance: none;
  background: url("https://s3.amazonaws.com/core.mshanken.com/img/search.png") no-repeat scroll 13px 3px transparent;
  border-color: #b9b9b9;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: -1px;
  right: -38px;
  width: 39px;
  height: 28px;
  z-index: 10;
}
input::-webkit-input-placeholder {
  color: #b9b9b9 !important;
  font-style: italic;
}
input:-moz-placeholder {
  color: #b9b9b9 !important;
  font-style: italic;
}
.btn {
  background: #e6e6e6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 0 #cccccc inset, 1px 0 0 #bbbbbb inset, -1px 0 0 #bbbbbb inset, 0 -1px 0 #aaaaaa inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 0 4px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: normal;
  margin: 0 5px;
  padding: 8px 15px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.btn:hover {
  background: #d6d6d6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #d6d6d6));
  background: -moz-linear-gradient(top, #fefefe 0%, #d6d6d6 100%);
  text-decoration: none;
}
.btn:active {
  box-shadow: 0 1px 0 rgba(40, 40, 40, 0.4) inset, 1px 0 0 rgba(40, 40, 40, 0.2) inset, -1px 0 0 rgba(40, 40, 40, 0.3) inset, 0 -1px 0 rgba(40, 40, 40, 0.4) inset, 0 1px 5px rgba(0, 0, 0, 0.2) inset;
}
/* --------
 -- Blue --
-------- */
.btn.primary {
  background: #52A8E8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52a8e8), color-stop(100%, #2e76cf));
  background: -moz-linear-gradient(top, #52a8e8 0%, #2e76cf 100%);
  box-shadow: 0 1px 0 rgba(34, 57, 100, 0.6) inset, 1px 0 0 rgba(34, 57, 100, 0.4) inset, -1px 0 0 rgba(34, 57, 100, 0.5) inset, 0 -1px 0 rgba(34, 57, 100, 0.6) inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 0 4px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.btn.primary:hover {
  background: #3E9EE5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e9ee5), color-stop(100%, #1666ca));
  background: -moz-linear-gradient(top, #3e9ee5 0%, #1666ca 100%);
}
.btn.primary:active {
  box-shadow: 0 1px 0 rgba(10, 10, 10, 0.5) inset, 1px 0 0 rgba(10, 10, 10, 0.3) inset, -1px 0 0 rgba(10, 10, 10, 0.4) inset, 0 -1px 0 rgba(10, 10, 10, 0.5) inset, 0 1px 5px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* ------------
 -- Lt. Blue --
------------ */
.btn.info {
  background: #5bc0de;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background: -moz-linear-gradient(top, #5bc0de 0%, #339bb9 100%);
  box-shadow: 0 1px 0 #4fa6c0 inset, 1px 0 0 #3d8094 inset, -1px 0 0 #3d8094 inset, 0 -1px 0 #387688 inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 0 4px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.btn.info:hover {
  background: #56b4d1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56b4d1), color-stop(100%, #2e8da8));
  background: -moz-linear-gradient(top, #56b4d1 0%, #2e8da8 100%);
}
.btn.info:active {
  box-shadow: 0 1px 0 rgba(10, 10, 10, 0.5) inset, 1px 0 0 rgba(10, 10, 10, 0.3) inset, -1px 0 0 rgba(10, 10, 10, 0.4) inset, 0 -1px 0 rgba(10, 10, 10, 0.5) inset, 0 1px 5px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* ---------
 -- Green --
--------- */
.btn.success {
  background: #62c462;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background: -moz-linear-gradient(top, #62c462 0%, #57a957 100%);
  box-shadow: 0 1px 0 #58b058 inset, 1px 0 0 #418241 inset, -1px 0 0 #418241 inset, 0 -1px 0 #366c36 inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 0 4px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.btn.success:hover {
  background: #5ab45a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ab45a), color-stop(100%, #519e51));
  background: -moz-linear-gradient(top, #5ab45a 0%, #519e51 100%);
}
.btn.success:active {
  box-shadow: 0 1px 0 rgba(10, 10, 10, 0.5) inset, 1px 0 0 rgba(10, 10, 10, 0.3) inset, -1px 0 0 rgba(10, 10, 10, 0.4) inset, 0 -1px 0 rgba(10, 10, 10, 0.5) inset, 0 1px 5px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* -------
 -- Red --
------- */
.btn.action {
  background: #EC6040;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec6040), color-stop(100%, #e13d29));
  background: -moz-linear-gradient(top, #ec6040 0%, #e13d29 100%);
  box-shadow: 0 1px 0 #be331b inset, 1px 0 0 #a42a15 inset, -1px 0 0 #a42a15 inset, 0 -1px 0 #8c200e inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 0 4px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 0 -1px 0 #a62416;
}
.btn.action:hover {
  background: #E05434;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e05434), color-stop(100%, #ce3420));
  background: -moz-linear-gradient(top, #e05434 0%, #ce3420 100%);
}
.btn.action:active {
  box-shadow: 0 1px 0 rgba(10, 10, 10, 0.5) inset, 1px 0 0 rgba(10, 10, 10, 0.3) inset, -1px 0 0 rgba(10, 10, 10, 0.4) inset, 0 -1px 0 rgba(10, 10, 10, 0.5) inset, 0 1px 5px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* --------
 -- Grey --
-------- */
.btn.grey {
  background: #BEBEBE;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #bebebe), color-stop(100%, #969696));
  background: -moz-linear-gradient(top, #bebebe 0%, #969696 100%);
  box-shadow: 0 1px 0 #999999 inset, 1px 0 0 #888888 inset, -1px 0 0 #888888 inset, 0 -1px 0 #777777 inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 0 4px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.btn.grey:hover {
  background: #b1b1b1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b1b1b1), color-stop(100%, #808080));
  background: -moz-linear-gradient(top, #b1b1b1 0%, #808080 100%);
}
.btn.grey:active {
  box-shadow: 0 1px 0 rgba(10, 10, 10, 0.5) inset, 1px 0 0 rgba(10, 10, 10, 0.3) inset, -1px 0 0 rgba(10, 10, 10, 0.4) inset, 0 -1px 0 rgba(10, 10, 10, 0.5) inset, 0 1px 5px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* ---------
 -- Black --
--------- */
.btn.black {
  background: #686868;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #686868), color-stop(100%, #414141));
  background: -moz-linear-gradient(top, #686868 0%, #414141 100%);
  box-shadow: 0 1px 0 #5a5a5a inset, 1px 0 0 #4b4b4b inset, -1px 0 0 #4b4b4b inset, 0 -1px 0 #3c3c3c inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 0 4px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.btn.black:hover {
  background: #5F5F5F;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5f5f5f), color-stop(100%, #333333));
  background: -moz-linear-gradient(top, #5f5f5f 0%, #333333 100%);
}
.btn.black:active {
  box-shadow: 0 1px 0 rgba(10, 10, 10, 0.5) inset, 1px 0 0 rgba(10, 10, 10, 0.3) inset, -1px 0 0 rgba(10, 10, 10, 0.4) inset, 0 -1px 0 rgba(10, 10, 10, 0.5) inset, 0 1px 5px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* -------------
 -- Disabled --
------------- */
.btn.disabled,
.btn:disabled {
  cursor: default;
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=5);
}
button.btn::-moz-focus-inner,
input[type=submit].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* ---------
 -- Icons --
--------- */
.btn:before {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5), 2px 0 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5), 2px 0 0 rgba(0, 0, 0, 0.4);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5), 2px 0 0 rgba(0, 0, 0, 0.4);
  float: left;
  font-size: 15px;
  margin: -8px 12px -9px -14px;
  padding: 7px 6px 5px;
  pointer-events: none;
  text-align: center;
  width: 11px;
}
.btn.add:before {
  content: "\271A";
}
.btn.delete:before {
  content: "\2718";
}
.btn.save:before {
  content: "\2714";
}
.btn.email:before {
  content: "\2709";
}
.btn.like:before {
  content: "\2764";
}
.btn.next:before {
  content: "\279C";
}
.btn.star:before {
  content: "\2605";
}
.btn.download:before {
  content: "\2193";
}
/*! fancyBox v2.0.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-tmp iframe,
.fancybox-tmp object {
  vertical-align: top;
  padding: 0;
  margin: 0;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
}
.fancybox-outer {
  position: relative;
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 1003;
}
.fancybox-opened .fancybox-outer {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-inner {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  outline: none;
  overflow: hidden;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url('https://s3.amazonaws.com/core.mshanken.com/plugins/fancybox/fancybox_sprite.png');
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 1010;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('https://s3.amazonaws.com/core.mshanken.com/plugins/fancybox/fancybox_loading.gif') center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1004;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  background: transparent url('https://s3.amazonaws.com/core.mshanken.com/plugins/fancybox/blank.gif');
  /* helps IE */

  z-index: 1003;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 1003;
  visibility: hidden;
}
.fancybox-prev span {
  left: 20px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 20px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  padding: 0;
  overflow: visible;
  visibility: hidden;
}
/* Overlay helper */
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 1001;
  background: #000;
}
/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 1005;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 1003;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */

  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  margin-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
/* ========================================================= WS Apps ===*/
html,
body {
  background-color: #e6e6e6;
  display: block;
}
/* ========================================================= Typography ===*/
html,
body {
  background-color: #f7f7f7;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
h2 {
  color: #333;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 10px;
}
h3 {
  color: #333;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  margin: 0 0 20px;
}
p {
  margin: 0 0 20px 0;
}
/* ========================================================= Header ===*/
header {
  background: #42474d;
  background: -moz-linear-gradient(top, #42474d 0%, #2e3138 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #42474d), color-stop(100%, #2e3138));
  background: -webkit-linear-gradient(top, #42474d 0%, #2e3138 100%);
  background: -o-linear-gradient(top, #42474d 0%, #2e3138 100%);
  background: -ms-linear-gradient(top, #42474d 0%, #2e3138 100%);
  background: linear-gradient(top, #42474d 0%, #2e3138 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#42474d', endColorstr='#2e3138', GradientType=0);
  border-top: 1px solid #acaeb1;
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin: 0 0 30px;
  position: relative;
}
header h1 {
  color: #FFFFFF;
  display: inline-block;
  font-size: 30px;
  font-weight: 100;
  font-family: helvetica;
  margin: 13px 0 0 10px;
  text-shadow: 0 1px 0 #000000;
}
header h1 a,
header h1 a:hover {
  color: #fff;
}
header h1 span {
  color: #EBBF45;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
/* ------
-- nav --
------ */
nav {
  background: #3a3f44;
  background: -moz-linear-gradient(top, #3a3f44 0%, #2a2d33 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a3f44), color-stop(100%, #2a2d33));
  background: -webkit-linear-gradient(top, #3a3f44 0%, #2a2d33 100%);
  background: -o-linear-gradient(top, #3a3f44 0%, #2a2d33 100%);
  background: -ms-linear-gradient(top, #3a3f44 0%, #2a2d33 100%);
  background: linear-gradient(top, #3a3f44 0%, #2a2d33 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3a3f44', endColorstr='#2a2d33', GradientType=0);
  border: 1px solid #010101;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  float: right;
  margin: 14px 10px 14px 0;
}
nav li {
  float: left;
  font-weight: 100;
}
nav a {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2);
  color: #d4d4d4;
  display: block;
  padding: 8px 15px 5px;
  text-shadow: 0 -1px 0 #000000;
}
nav li:last-child a {
  border: none;
  box-shadow: none;
}
nav a:hover {
  color: #fff;
}
/* ========================================================= Home ===*/
#home hr {
  margin: 0;
}
/* -----
-- wr --
----- */
#home-wr {
  margin: 10px 0 30px;
}
#home-wr .ss {
  /*margin: 0 50px 0 120px;*/
}
#home-wr .ss img {
  /*width: 200px;*/
}
#home-wr-copy {
  float: right;
  font-size: 16px;
  margin: 105px 0 0 0;
  /*width: 624px;*/
}
#home-wr h2,
#home-wr h2 a {
  color: #333;
  font-family: helvetica;
  font-size: 58px;
  margin: 0 0 6px;
  text-shadow: 0;
}
#home-wr h2 span {
  color: #e42e33;
}
#home-wr #mini-phone {
  display: none;
}
#home-wr h2 img {
  vertical-align: text-bottom;
  border-radius: 0;
  box-shadow: 0 1px 1px #000;
}
#home-wr p {
  margin-bottom: 25px;
}
/* -----
-- vc --
----- */
#home-vc {
  box-shadow: 1px 0 0 #ccc;
  color: #333;
  margin-bottom: 30px;
}
#home-vc-copy {
  float: right;
  font-size: 16px;
  margin: 56px 20px 0 30px;
  text-shadow: none;
  width: 299px;
}
#home-vc h2,
#home-vc h2 a {
  color: #333;
  font-family: helvetica;
  font-size: 23px;
  margin: 0 0 6px;
  text-shadow: none;
}
#home-vc h2 span {
  color: #ebbf45;
}
#home-vc h2 img {
  vertical-align: text-bottom;
  border-radius: 8px;
  box-shadow: 0 2px 3px #000;
}
#home-vc p {
  font-size: 14px;
  margin-bottom: 23px;
}
/* -----
-- nv --
----- */
#home-nv {
  color: #333;
  margin-bottom: 30px;
}
#home-nv-copy {
  float: right;
  font-size: 16px;
  margin: 66px 0 0 30px;
  text-shadow: none;
  width: 247px;
}
#home-nv h2,
#home-nv h2 a {
  color: #333;
  font-family: helvetica;
  font-size: 24px;
  line-height: 1.1;
  margin: 0 0 6px;
  text-shadow: none;
}
#home-nv h2 span {
  color: #ebbf45;
}
#home-nv h2 img {
  vertical-align: text-bottom;
  border-radius: 8px;
  box-shadow: 0 2px 3px #000;
}
#home-nv p {
  font-size: 14px;
  margin-bottom: 23px;
}
/* ========================================================= Intro ===*/
#intro {
  border-bottom: 1px solid #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  color: #cbcbcb;
  padding: 45px 0 45px 0;
  margin: -36px 0 110px 0;
}
#intro .g4 img {
  margin: 0 0 -60px 0;
}
#intro h2 {
  color: #444444;
  font-family: helvetica;
  font-size: 52px;
  /*margin: 153px 0 10px;*/
  /*text-shadow: 0 1px 1px #000;*/
}
#intro h2 span {
  color: #e42e33;
}
#intro h2 img {
  vertical-align: text-bottom;
  border-radius: 0px;
  box-shadow: 0 1px 1px #000;
}
#intro p {
  color: #444444;
  font-size: 14px;
  /*text-shadow: 0 1px 1px #000000, 0 0px 30px #000;*/
}
#intro #app-store {
  border-radius: 0;
  /*box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 0 40px #4a4e5a, 0 2px 3px #000000;*/
}
/* ========================================================= WineRatings+ ===*/
#wineratingsplus #intro {
  /*background-color: #17191F;*/
  /*background-image: url('/img/intro-wineratingsplus.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;*/
}
#wineratingsplus #intro h2 {
  margin: 11px 0 10px;
}
/* ========================================================= VintageChart+ ===*/
#vintagechartplus #intro {
  background-color: #17191F;
  background-image: url('/img/intro-vintagechartplus.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
}
#vintagechartplus #intro h2 {
  margin: 134px 0 10px;
}
#vintagechartplus #app-store {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 0 40px #5b584b, 0 2px 3px #000000;
}
/* ========================================================= Guide to Napa Valley ===*/
#guidetonapavalley #intro {
  background-color: #17191F;
  background-image: url('/img/intro-guidetonapavalley.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
}
#guidetonapavalley #intro h2 {
  font-size: 36px;
  margin: 71px 0 10px;
}
#guidetonapavalley #intro h2 img {
  vertical-align: bottom;
  border-radius: 13px;
}
#intro .g5 img {
  margin: 0 0 -60px 0;
}
/* ========================================================= Features ===*/
#feats {
  border: 20px;
  margin: 0 0 30px;
  padding: auto;
}
#feats img {
  margin: 0 0 20px;
  border-radius: 4px;
  box-shadow: 0 0 0 5px #ffffff, 0 6px 2px rgba(0, 0, 0, 0.5);
}
#feats h3 {
  margin: 0;
  text-transform: uppercase;
}
#feats p {
  color: #666;
}
/* ========================================================= Site Badge ===*/
#badge .g4 {
  margin-bottom: 40px;
}
#badge .g4 img {
  display: block;
  margin: 0 auto;
}
#badge textarea {
  border: 1px solid #aaa;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 0 #FFFFFF;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  min-height: 200px;
  padding: 10px;
  resize: none;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* ========================================================= Contact ===*/
#contact-form {
  border-right: 1px solid #CCCCCC;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.9);
  padding: 0 30px 0 0;
}
#contact-form label {
  padding: 1% 2% 0 0;
  width: 15%;
}
#contact-form input,
#contact-form textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 30px;
  width: 80%;
}
#contact-form .button {
  float: right;
  margin: 0 10px 0 0;
  width: 100px;
}
#social-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
#social-links li {
  margin: 0;
  padding: 0;
}
#social-links img {
  margin: 0 10px 0 0;
  vertical-align: text-bottom;
}
#social-links p {
  display: inline-block;
  line-height: 1;
}
/* ========================================================= 404 ===*/
#error-404 h2 {
  margin: 0;
}
#error-404 img {
  display: block;
  margin: 0 auto 30px;
}
/* ========================================================= Footer ===*/
#signup {
  background: #c73b23;
  background: -moz-linear-gradient(top, #c73b23 0%, #ab341f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c73b23), color-stop(100%, #ab341f));
  background: -webkit-linear-gradient(top, #c73b23 0%, #ab341f 100%);
  background: -o-linear-gradient(top, #c73b23 0%, #ab341f 100%);
  background: -ms-linear-gradient(top, #c73b23 0%, #ab341f 100%);
  background: linear-gradient(top, #c73b23 0%, #ab341f 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#c73b23', endColorstr='#ab341f', GradientType=0);
  border: 1px solid #912c1a;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: #f7f7f7;
  font-size: 18px;
  margin: 0 0 10px;
  min-height: 32px;
  padding: 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
#signup p {
  margin: 5px 0 0;
  text-align: center;
}
#signup p a {
  color: #fff800;
}
#subForm li {
  float: left;
  position: relative;
  width: 503px;
}
#subForm label {
  color: #888;
  cursor: text;
  position: absolute;
  padding: 10px 0 0 8px;
  top: 0;
  left: 0;
  text-align: left;
  text-shadow: none;
  width: 100%;
  z-index: 5;
}
#subForm span {
  font-size: 19px;
  float: left;
  margin: 4px 0 0 5px;
}
#signup input[type="text"] {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #824848;
  color: #333;
  margin: 0;
  padding: 5px 3px 3px 6px;
  height: 22px;
  width: 100%;
}
#signup input[type="submit"] {
  background: #676f78;
  background: -moz-linear-gradient(top, #676f78 0%, #565c63 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #676f78), color-stop(100%, #565c63));
  background: -webkit-linear-gradient(top, #676f78 0%, #565c63 100%);
  background: -o-linear-gradient(top, #676f78 0%, #565c63 100%);
  background: -ms-linear-gradient(top, #676f78 0%, #565c63 100%);
  background: linear-gradient(to bottom, #676f78 0%, #565c63 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#676f78', endColorstr='#565c63', GradientType=0);
  border: 1px solid #40444A;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  color: #fff;
  font-size: 14px;
  height: 32px;
  outline: medium none;
  padding: 6px 7px;
  position: absolute;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  top: 0;
  right: -11px;
  z-index: 10;
}
footer {
  color: #6d6d6d;
  font-size: 11px;
  margin: 0 0 20px;
}
#copy {
  float: left;
  display: inline;
  margin: 0 0 0 10px;
}
#copy a {
  color: #6d6d6d;
}
#copy a:hover {
  color: #000;
}
/* ---------
-- subnav --
--------- */
#subnav {
  float: right;
  list-style: none;
  margin: 0 10px 20px 0;
  padding: 0;
}
#subnav li {
  float: left;
  margin: 0;
  padding: 0;
}
#subnav a {
  border-right: 1px solid #6d6d6d;
  color: #6d6d6d;
  padding: 0 10px;
}
#subnav a:hover {
  color: #000;
}
#subnav li:last-child a {
  border: none;
}
/* ========================================================= Utility ===*/
img {
  height: auto;
  max-width: 100%;
}
.error_message {
  background-color: #FFCDCD;
  border: 1px solid #FC4A41;
  margin: 0 10px;
  padding: 5px;
}
.copy-note {
  color: #999999;
  font-size: 9px;
  margin: 0;
}
#BCLcontainingBlock {
  width: 98%;
  margin-left: 0px;
  margin-bottom: 10px;
  float: none;
  padding:1%;
  box-shadow: 0 0 0 5px #ffffff, 0 6px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background-color: white;
}
.BCLvideoWrapper {
  position: relative;
  padding-top: 1px;
  padding-bottom: 56.25%;
  height: 0;
}
* html .BCLvideoWrapper {
  margin-bottom: 45px;
  margin-top: 0;
  width: 100%;
  height: 100%;
}
.BCLvideoWrapper div,
.BCLvideoWrapper embed,
.BCLvideoWrapper object,
.BrightcoveExperience {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
/* ========================================================= Structure ===*/
/* ----------
 -- 960px --
---------- */
@media screen and (min-width: 1024px) and (max-width: 1068px) {
  #home-wr {
    width: 940px;
  }
  #home-wr-copy {
    margin-top: 80px;
    width: 516px;
  }
  #home-wr #mini-phone {
    display: none;
  }
  #subForm li {
    width: 449px;
  }
  #home-vc-copy {
    width: 246px;
  }
  #home-nv-copy {
    width: 197px;
  }
}
/* ---------
 -- 768px --
--------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #home-wr {
    width: 748px;
  }
  #home-wr-copy {
    margin-top: 20px;
    width: 324px;
  }
  #home-wr p {
    margin-bottom: 13px;
  }
  #intro h2 {
    margin: 83px 0 0;
  }
  #subForm li {
    width: 449px;
  }
  #subForm li {
    width: 353px;
  }
  #subForm span {
    font-size: 14px;
    margin: 8px 0 0 5px;
  }
  #intro {
    padding-top: 30px;
  }
  #wineratingsplus #intro h2 {
    margin-top: 30px;
  }
  #vintagechartplus #intro h2 {
    margin-top: 40px;
  }
  #guidetonapavalley #intro h2 {
    font-size: 28px;
    margin-top: 8px;
  }
  #guidetonapavalley #intro h2 img {
    border-radius: 9px;
    width: 50px;
  }
  #home-vc img {
    display: block;
    margin: 0 auto;
  }
  #home-vc-copy {
    margin: 20px 0 0;
    width: 100%;
  }
  #home-nv img {
    display: block;
    margin: 0 auto;
  }
  #home-nv-copy {
    margin: 20px 0 0;
    width: 100%;
  }
}
/* ---------
 -- 480px --
--------- */
@media screen and (min-width: 480px) and (max-width: 767px) {
  header {
    margin: 0;
  }
  header h1 {
    display: block;
    margin: 10px 0 0;
    text-align: center;
  }
  nav {
    float: none;
    margin: 5px 10px 15px;
  }
  nav li {
    display: inline-block;
    float: none;
  }
  nav li a {
    padding: 8px 23px 5px;
  }
  #home-wr {
    margin: 20px 0 0;
    width: 100%;
  }
  #home-wr-copy {
    float: none;
    margin: 0;
    width: 100%;
  }
  #home-wr #mini-phone {
    display: block;
    margin: 0 auto 20px;
    width: 160px;
  }
  #home-wr #app-store {
    display: block;
    margin: 0 auto;
  }
  #home-wr p {
    margin-bottom: 13px;
  }
  #intro {
    margin: 0 0 30px;
    padding: 10px 0 20px;
  }
  #intro .g4 img {
    margin: 0;
  }
  #intro h2 {
    margin: 0;
  }
  #home-wr h2 img {
    display: none;
  }
  #home-vc {
    box-shadow: 0 1px 0 #ccc;
  }
  #home-vc img {
    display: block;
    margin: 0 auto;
  }
  #home-vc-copy {
    margin: 20px 0;
    width: 100%;
  }
  #home-nv {
    box-shadow: 0 1px 0 #ccc;
  }
  #home-nv img {
    display: block;
    margin: 0 auto;
  }
  #home-nv-copy {
    margin: 20px 0;
    width: 100%;
  }
  #subForm li {
    width: 428px;
  }
  #subForm span {
    font-size: 18px;
    margin: 2px 0 10px 5px;
  }
  #intro .g5 img,
  #intro .g4 img {
    display: none;
  }
  #wineratingsplus #intro h2 {
    margin-top: 0;
  }
  #vintagechartplus #intro h2 {
    margin-top: 0;
  }
  #guidetonapavalley #intro h2 {
    font-size: 28px;
    margin-top: 0;
  }
  #guidetonapavalley #intro h2 img {
    border-radius: 9px;
    width: 50px;
  }
  #contact-form {
    border-bottom: 1px solid #CCCCCC;
    border-right: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    padding: 0;
  }
}
/* ---------
 -- 320px --
--------- */
@media screen and (min-width: 320px) and (max-width: 479px) {
  header {
    margin: 0;
  }
  header h1 {
    display: block;
    margin: 10px 0 0;
    text-align: center;
  }
  nav {
    float: none;
    margin: 5px 10px 15px;
  }
  nav li {
    display: block;
    float: none;
  }
  nav li a {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    padding: 8px 23px 5px;
  }
  #home-wr {
    margin: 20px 0 0;
    width: 100%;
  }
  #home-wr .ss {
    margin: 0 50px;
  }
  #home-wr-copy {
    float: none;
    margin: 0;
    width: 100%;
  }
  #home-wr h2 img {
    display: none;
  }
  #home-wr #mini-phone {
    display: block;
    margin: 0 auto 20px;
    width: 160px;
  }
  #home-wr #app-store {
    display: block;
    margin: 0 auto;
  }
  #home-wr p {
    margin-bottom: 13px;
  }
  #intro {
    margin: 0 0 30px;
    padding: 10px 0 20px;
  }
  #intro .g4 img {
    margin: 0;
  }
  #intro h2 {
    margin: 0;
  }
  #subForm li {
    width: 268px;
  }
  #subForm span {
    font-size: 18px;
    margin: 2px 0 10px 5px;
  }
  #home-vc {
    box-shadow: 0 1px 0 #ccc;
  }
  #home-vc img {
    display: block;
    margin: 0 auto;
  }
  #home-vc-copy {
    margin: 20px 0;
    width: 100%;
  }
  #home-nv {
    box-shadow: 0 1px 0 #ccc;
  }
  #home-nv img {
    display: block;
    margin: 0 auto;
  }
  #home-nv-copy {
    margin: 20px 0;
    width: 100%;
  }
  #copy {
    width: 130px;
  }
  #intro .g5 img,
  #intro .g4 img {
    display: none;
  }
  #intro h2 img {
    border-radius: 9px;
    width: 50px;
    vertical-align: bottom;
  }
  #wineratingsplus #intro h2 {
    font-size: 29px;
    margin-top: 0;
  }
  #vintagechartplus #intro h2 {
    margin-top: 0;
    font-size: 28px;
  }
  #guidetonapavalley #intro h2 {
    font-size: 25px;
    margin-top: 0;
  }
  #guidetonapavalley #intro h2 img {
    display: block;
    margin: 0 0 10px;
  }
  #contact-form {
    border-bottom: 1px solid #CCCCCC;
    border-right: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    padding: 0;
  }
  #contact-form label {
    padding: 0 0 4px;
    text-align: left;
    width: 100%;
  }
  #contact-form input,
  #contact-form textarea {
    width: 100%;
  }
  #contact-form .button {
    float: none;
    margin: 0;
    width: 100%;
  }
}
